.card-login {
    width: 300px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.card-login .card-title{
    text-align: center;
}
.card-login .card-button {
    justify-content: center;
    display: flex;
    margin-top: 14px;

}
.card-login .error {
    font-size: 11px;
    color: red;
}